.bg {
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  background-image: url(res/main2.jpg);
  background-size: cover;
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background-color: black;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.center2 {
    margin: auto;
    width: 75%;
    padding: 10px;
}
.center3 {
    margin: auto;
    width: 67.5%;
    padding: 10px;
}

div.a {
    text-align: center;
}